{% extends "encyclopedia/layout.html" %}

{% block title}
    New page
{% endblock}

{% block body}
    <h1> Create Page</h1>


         <form action="{% url 'save' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label form="title">Title:</label>
                <input type="text" name="title" class="form-control" id="exampleFormControlInput1">
            </div>

            <div class="form-group">
                <label class="form-titles">Page Content (Please enter in Markup Language for formatting)</label>
                <textarea class="form-control" name="text" id="exampleFormCOntrolTextarea1" rows="8"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
          </form>


          
{% endblock %}